# Nuxt
.nuxt
.output
.data
dist

# Node
node_modules

# Env
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Prisma
prisma/migrations/**/migration_lock.toml
